* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Crimson Text";
  font-size: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1.5vw;
}

#intro {
  background: black;
  color: lime;
  font-family: "Crimson Text";
  font-size: 2.93vw;
  margin-top: 2.5vw;
  margin-left: 0vw;
  margin-right: 2.25vw;
}

.header {
  display: flex;
  justify-content: space-between;
}

.myName {
  font-size: 5vw;
  color: lime;
}

.myName:hover {
  color: aqua;
}

.myName:active {
  color: black;
}

.tab {
  color: lime;
  font-size: 4.5vw;
}

.tab:hover {
  color: aqua;
}

.tab:active {
  color: black;
}

.tagline {
  font-size: 4vw;
  margin-top: -0.75vw;
}

.divider {
  width: 100%;
  height: 0vw;
  margin-top: -1.5vw;
}

.footer {
  margin-top: -4vw;
}

#skipBtn {
  display: flex;
  justify-content: flex-end;
  font-size: 2vw;
  margin-bottom: -5vw;
  color: white;
}

#skipBtn:hover {
  color: cyan;
}

#skipBtn:active {
  color: black;
}

#name {
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

#name:hover {
  color: cyan;
}

#name:active {
  color: black;
}

#tag {
  display: flex;
  margin-top: 2vw;
  font-size: 6vw;
  justify-content: center;
  white-space: nowrap;
}

.url {
  color: lime;
  font-size: 4vw;
}

.url:hover {
  color: cyan;
}

.url:active {
  color: black;
}

.blurb {
  margin-top: 1vw;
  font-size: 3.25vw;
  margin-bottom: 3vw;
}

.project {
  margin-bottom: 2vw;
}

.indent {
  font-size: 3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#resume {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-right: 25vw;
}

.col {
  font-size: 4vw;
  margin-bottom: 5vw;
  margin-top: -1vw;
}

.subentry {
  font-size: 3.25vw;
}

#pdf {
  font-size: 1.5vw;
  color: mediumorchid;
}

#quoteBox {
  background-color: grey;
  margin-bottom: -0.25vw;
}

#quote {
  font-size: 4vw;
  text-align: center;
}

#article {
  font-size: 3.2vw;
}

.line {
  margin-top: 3vw;
}

#breakdown {
  font-size: 3.4vw;
  margin-left: -2vw;
  margin-right: 2vw;
}

#firstPoint {
  margin-bottom: 5vw;
}

#tldr {
  margin-top: 4vw;
  margin-bottom: 4vw;
}

#tldrDivider {
  margin-top: 3vw;
}

.ellipses {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

#ellipses1 {
  margin-top: -4vw;
}

#ellipses2 {
  margin-top: -1vw;
  margin-bottom: 3vw;
}

li {
  margin-top: 1vw;
}

#radio {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  border: 1vw white double;
  padding: 1vw;
}

.freqLabel {
  margin-left: 12vw;
  margin-right: 1vw;
}

.channels {
  margin-top: -10vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.channel {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2vw;
}

.knob {
  height: 10vw;
  width: 10vw;
  background-color: black;
  border-radius: 5vw;
  border: 1vw white double;
}

#tunerBar {
  width: 80%;
  border: 1vw white double;
  margin-top: 3vw;
  margin-bottom: 1vw;
  margin-left: 18%;
}
